<ui-table
	[tableColumns]="tableColumns"
	[items]="membersData">
	<tr
		*ngFor="let member of membersData"
		class="rowTemplate">
		<td class="font-bold">{{ member.name }}<p-tag
			class="email-tag"
			*ngIf="member.email"
			icon="pi pi-user"
			[value]="member.email" /></td>
		<td>{{ member.blocks }}</td>
	</tr>
</ui-table>
<!-- TODO: Remove this  -->
<!-- 
<div class="my-4">
	<p-iconField iconPosition="left">
		<p-inputIcon styleClass="pi pi-search" />
		<input
			class="input"
			type="text"
			pInputText
			[(ngModel)]="searchInputText"
			(ngModelChange)="searchBlocks()"
			placeholder="Buscar bloques" />
		<!-- <input type="text" pInputText placeholder="Search" /> -->
	<!-- </p-iconField>
</div>
<div class="grid grid-cols-2 gap-2">
	<div
		*ngFor="let item of blocksDataFiltered"
		class="h-full">
		<p-card
			[header]="item.block"
			styleClass="h-full">
			<p *ngFor="let member of item.members">
				<span class="font-bold">{{ member.name }} </span>
				<p-tag
					class="email-tag"
					*ngIf="member.email"
					icon="pi pi-user"
					[value]="member.email" />
			</p>
		</p-card>
	</div>
</div> -->
