<p-table
	[value]="items()"
	[sortField]="tableColumns()[0].field"
	[sortOrder]="1"
	[globalFilterFields]="['field']">
	<ng-template pTemplate="header">
		<tr>
			@for (column of tableColumns(); track column) {
				<th
					[class]="column.class"
					[pSortableColumn]="column.field"
					[pSortableColumnDisabled]="!column.sort">
					{{ column.label }}
					<p-sortIcon
						class="ml-2"
						*ngIf="column.sort"
						[field]="column.field" />
				</th>
			}
		</tr>
	</ng-template>
	<ng-template
		pTemplate="body"
		let-item>
		<ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: item }">
		</ng-container>
	</ng-template>
</p-table>

@if (items.length === 0) {
	<div class="text-center p-8">
		<p class="text-lg text-gray-500 font-bold">
			No se han encontrado resultados
		</p>
	</div>
}
