<div class="my-4">
	<p-iconField iconPosition="left">
		<p-inputIcon styleClass="pi pi-search" />
		<input
			class="input"
			type="text"
			pInputText
			[(ngModel)]="searchInputText"
			(ngModelChange)="onSearch()"
			placeholder="Buscar" />
	</p-iconField>
</div>
<ui-table
	[tableColumns]="tableColumns"
	[items]="filteredMembersData"
	[rowTemplate]="rowTemplate">
</ui-table>

<ng-template
	#rowTemplate
	let-member>
	<tr>
		<td class="font-bold">
			{{ member.name }}
			<p-tag
				class="email-tag"
				*ngIf="member.email"
				icon="pi pi-user"
				[value]="member.email">
			</p-tag>
		</td>
		<td>{{ member.blocks }}</td>
	</tr>
</ng-template>
