<app-header></app-header>
<section class="relative flex flex-col items-center justify-center h-screen text-center text-white ">
    <div class="absolute top-0 left-0 flex w-full h-full overflow-hidden img-header">
        <h1 class="text-4xl font-bold shadow-sm">PROYECTO CENSO ESPAÑOL DEL GATO MONTÉS</h1>
    </div>
</section>
<section class="bg-light px-[34px]" id="about">
    <div class="py-16 max-w-[1000px] flex mx-auto flex-col gap-4">
        <h2 class="text-2xl font-bold">Sobre el proyecto</h2>
        <p id="about" class="text-justify">
            El proyecto nace de la preocupación de dos investigadores en la especie,
            Emilio Virgós (URJC) y Jose María Gil-Sánchez (Universidad de Granada) en el
            año 2019. Se trata de una iniciativa particular y financiada con fondos propios.
            El gato montés se encuentra ubicado en la lista del LESPRE, aunque no está
            catalogado en alguna de las categorías de amenaza. No obstante, distintas
            evidencias indican que la especie podría estar sufriendo un severo declive en
            muchas regiones del país. Las causas de este declive no están claras, por lo
            que la realización de un censo detallado puede ayudar a arrojar luz sobre el
            estatus poblacional de la especie, así como sobre las causas posibles de su
            rarefacción.
        </p>
        <p>
            Este proyecto tiene dos objetivos fundamentales: 1 realizar una fotografía de la
            situación actual de la especie en todo el territorio; 2 servir de base para un
            programa de seguimiento de la especie.
        </p>
        <p>
            El proyecto se basa en el estudio de la abundancia de la especie en parcelas
            de 2000 ha muestreadas con cámaras de foto-trampeo cebadas con orina de
            lince ibérico. El muestreo es realizado por voluntarios con experiencia a los que
            se ha suministrado toda la información técnica, los materiales para el muestreo
            de campo y el apoyo en cualquier otro aspecto del estudio. Se pretende
            finalizar esta primera fase (censo) durante el otoño de 2024. A partir de la
            primavera d 2025 comenzará la fase de seguimiento en una submuestra de 40
            bloques repartidos uniformemente por la geografía española.
        </p>
    </div>
</section>