<!-- TODO: fix responsive height -->
<div class="h-[85vh]">
  <h3 class="my-4 text-3xl font-bold underline">{{ studyArea.name }}</h3>
  <div class="flex justify-between gap-4 h-[85vh]">
    <div class="flex-col w-3/5 pr-4 overflow-y-auto">
      <p class="text-justify" [innerHTML]="studyArea.description"></p>
    </div>
    <div class="flex-col w-2/5">
      <p-galleria
        [value]="studyArea.images"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '640px' }"
        [numVisible]="5">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block" />
          </div>
        </ng-template>
        <ng-template pTemplate="caption" let-item>
          <h4 style="margin-bottom: 0.5rem; color: #ffffff">{{ item.title }}</h4>
          <p>{{ item.alt }}</p>
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>
